* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* PROJECT CARD */

.project-card {
    width: 320px;
    padding: 20px;
    border-radius: 14px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.02)
    ),
    #3a8edb; /* darker blue base */

    color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 22px rgba(0,0,0,0.2);
}

.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #333;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto 15px;
    font-size: 18px;
    font-weight: 500;
    color: #444;
}

.puzzle {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.tile {
    background-color: #6ec1ff;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tile:hover {
    transform: scale(1.05);
}

.empty {
    background-color: transparent;
    box-shadow: none;
    cursor: default;
}

.shuffle-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #6ec1ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.shuffle-btn:hover {
    background-color: #4aa8f0;

}
